<div class="card mb-3 m-2"  style="width: 440px;" >
  <div class="d-flex justify-content-center" *ngIf="!character" >
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row no-gutters" *ngIf="character" >
    <div class="col-md-4">
      <img [src]="character.image" class="card-img" alt="{{ character.name }}">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
        <p class="card-text">  {{ character.status }} - {{ character.species }} </p>
        <p class="card-text"><small class="text-muted">{{ character.location.name }} </small></p>
      </div>
    </div>
  </div>
</div>